apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
  namespace: auth-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery
          image: ulyanapitsukha/coffee-auth-service:latest
          command: ["celery", "-A", "app.utils.celery_app.celery_app", "worker", "--loglevel=info", "-P", "solo"]
          envFrom:
            - secretRef:
                name: coffee-auth-secrets
