apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: auth-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
        - name: traefik
          image: traefik:v2.10
          args:
            - "--api.insecure=true"
            - "--providers.kubernetesingress"
            - "--entrypoints.web.address=:80"
          ports:
            - name: web
              containerPort: 80
            - name: dashboard
              containerPort: 8080