apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: auth-dev
spec:
  type: NodePort
  selector:
    app: traefik
  ports:
    - port: 80
      nodePort: 30080
    - port: 8080
      nodePort: 30081
